<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Join Us Application</title>
</head>
<body>
    <h1>BookMediServices Join Us Application</h1>
    <p>Dear {{ doctor.first_name }},</p>
    <p>We are pleased to inform your application was successfully sent:</p>
    <ul>
        <li><strong>Applicant:</strong> {{ doctor.first_name }} {{ doctor.last_name }}</li>
        <li><strong>Phone number:</strong> {{ doctor.phone_number }}</li>
        <li><strong>Email:</strong> {{ doctor.email }}</li>
        <li><strong>Organisation:</strong> {{ doctor.phone_number }}</li>
    </ul>
    <p>Thank you for choosing our services.</p>
    <p>Sincerely,</p>
    <p><strong>BookMediServices</strong></p>
</body>
</html>
